<link rel="stylesheet" href="{{ 'product-usps.css' | asset_url }}">
<div class="product-usps-container">
  {% content_for "blocks" %}
</div>
{% schema %}
{
  "name": "Product USPs",
  "blocks": [{"type": "@theme"}, {"type": "@app"}],
  "presets": [
    {
      "name": "Product USPs"
    }
  ]
}
{% endschema %}
