<link rel="stylesheet" href="{{ 'product-usps.css' | asset_url }}">
<div class="product-usps-container"></div>
{% schema %}
{
  "name": "Product USPs",
  "presets": [
    {
      "name": "t:names.product_inventory",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}
