<link rel="stylesheet" href="{{ 'brand-stats.css' | asset_url }}">
<div class="section brand-stats-parent">
  <div class="brand-stats-container">
{}
  </div>
</div>
{% schema %}
{
  "name": "Brand Stats",
  "presets": [
    {
      "name": "Brand Stats"
    }
  ]
}
{% endschema %}
