<link rel="stylesheet" href="{{ 'brand-stats.css' | asset_url }}">
<div class="section brand-stats-parent">
  <div class="brand-stats-container">
    {% for block in section.blocks %}
      <div class="brand-stats-block">
        <p>{{ block.settings.heading }}</p>
        <p>{{ block.settings.subheading }}</p>
      </div>
      {% unless forloop.last %}
        <hr>
      {% endunless %}
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Brand Stats",
  "blocks": [
    {
      "type": "stats",
      "name": "Stats",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "100K+"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Happy Customers"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Stats"
    }
  ]
}
{% endschema %}
