<div class="home_top_banner-container">
    <div class="home_top_banner-left-container">
        <h1>{{ section.settings.heading }}</h1>
        <p>{{ section.settings.subheading }}</p>
        <div class="home_top_banner-left-buttons-container">
            <a>{{ section.settings.primary_button_text }}</a>
            <a>{{ section.settings.secondary_button_text }}</a>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Home Top Banner",
  "settings": [],
  "presets": [
    {
      "name": "Home Top Banner"
    }
  ]
}
{% endschema %}
