<div class="home_top_banner-container">
    <img src="">
</div>

{% schema %}
{
  "name": "Home Top Banner",
  "settings": [],
  "presets": [
    {
      "name": "Home Top Banner"
    }
  ]
}
{% endschema %}
