<link rel="stylesheet" href="{{ 'pdp-videos-carousel.css' | asset_url }}">
<div class="section pdp-videos-carousel-container">
  <p class="section-heading">{{ section.settings.section_heading }}</p>
  <div class="pdp-videos-carousel-wrapper">
    <div class="pdp-videos-carousel-video">
      <video src=""></video>
      <p class="pdp-videos-carousel-content-heading"></p>
      <p class="pdp-videos-carousel-content-subheading"></p>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Videos Carousel PDP",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "url",
          "id": "video_url",
          "label": "Video URL"
        },
        {
          "type": "text",
          "id": "video_heading",
          "label": "Video Heading"
        },
        {
          "type": "textarea",
          "id": "video_subheading",
          "label": "Video Subheading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Videos Carousel PDP"
    }
  ]
}
{% endschema %}
