<link rel="stylesheet" href="{{ 'brand-stats.css' | asset_url }}">
<div class="home-testimonials-container">
  <div class="section">
    <h2 class="home-testimonials-heading">What Our Customers Say</h2>
    <div class="home-testimonials-slider">
      {% for block in section.blocks %}
        <div class="testimonial-slide">
          <div class="testimonial-slide-header">
            <div class="testimonial-slide-header-left">
              <img class="testimonial-google-icon" src="https://cdn.shopify.com/s/files/1/0961/8086/3276/files/R2OBOOC_1.png?v=1772140839">
              <p class="testimonial-author">{{ block.settings.author }}</p>
              <img class="testimonial-verified-icon" src="https://cdn.shopify.com/s/files/1/0961/8086/3276/files/RRW3K15_1.png?v=1772140839">
            </div>
            <img class="testimonial-stars-icon" src="https://cdn.shopify.com/s/files/1/0961/8086/3276/files/Group_6356148.png?v=1772140839">
          </div>
          <p class="testimonial-quote">{{ block.settings.quote }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Home Testimonials",
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "author",
          "label": "Author Name"
        },
        {
          "type": "textarea",
          "id": "quote",
          "label": "Testimonial Quote"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Testimonials"
    }
  ]
}
{% endschema %}
