.brand-stats-parent {
    background: #000 !important;
}

.brand-stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.brand-stats-container p {
    color: #fff;
    margin: 0;
    text-align: center;
}

.brand-stats-block {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.brand-stats-block p:first-of-type {
    font-family: 'Satoshi', sans-serif;
    font-size: 3rem;
    font-weight: 900;
}

.brand-stats-block p:last-of-type {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.1rem;
    opacity: 0.6;
    margin-top: -5px;
    font-weight: 300;
}

.brand-stats-container hr {
    margin: 0;
    height: 90%;
    width: 1px;
    margin-left: 5%;
    margin-right: 5%;
}