.brand-stats-parent {
    background: #000 !important;
}

.brand-stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-stats-container p{
    color: #fff;
    margin: 0;
    text-align: center;
}