.brand-stats-parent {
    background: #000 !important;
}

.brand-stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.brand-stats-container p {
    color: #fff;
    margin: 0;
    text-align: center;
}

.brand-stats-block {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.brand-stats-block p:first-of-type {
    font-family: 'Satoshi', sans-serif;
    font-size: 3rem;
    font-weight: 900;
}

.brand-stats-block p:last-of-type {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}