.bulk-order-section {
    padding: 60px 20px;
}

.bulk-order-container {
    display: flex;
    gap: 40px;
    background: #f4f4f4;
    padding: 40px;
    border-radius: 12px;
    flex-wrap: wrap;
    border: solid 1px #000;
}

.bulk-order-left {
    flex: 1;
    min-width: 300px;
}

.bulk-order-left h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Satoshi';
    font-weight: 400;
}

.bulk-subtext {
    margin: -2px 0 25px 0;
    color: #000;
    font-size: 1rem;
    font-weight: 300;
}

.bulk-order-form input,
.bulk-order-form select {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.form-row {
    display: flex;
    gap: 15px;
}

.form-buttons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.form-buttons span {
    align-self: center;
    color: #000;
    font-weight: 500;
}

.primary-btn {
    background: #000;
    color: #fff;
    padding: 14px 22px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.whatsapp-btn {
    background: #25d366;
    color: #fff;
    padding: 14px 22px;
    border-radius: 12px;
    text-decoration: none;
}

.bulk-order-right {
    flex: 1;
    min-width: 300px;
}

.bulk-order-right img {
    width: 100%;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}