.faq-form-section {
    padding: 60px 20px;
}

.faq-heading {
    text-align: center;
    margin-bottom: 45px;
    font-family: 'Satoshi';
    font-weight: 600;
    font-size: 2rem;
}

.faq-grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 60px;
}

.faq-item {
    border: 1px solid #00000070;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
}

.faq-right img {
    width: 40%;
    height: auto;
    margin: 0 auto 45px;
}

.faq-question {
    width: 100%;
    background: #f7f7f7;
    padding: 16px;
    border: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 600;
    color: #000;
}

.faq-question span {
    font-size: 1.6rem;
    line-height: .4;
}

.need-help-title {
    text-align: center;
    margin-bottom: 45px;
    font-family: 'Satoshi';
    font-weight: 600;
    font-size: 2rem;
}

.faq-answer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    padding: 0 16px;
}

.faq-answer p {
    padding: 0 0 15px;
    font-size: .95rem;
    font-weight: 500;
    opacity: .8;
}

.need-help-form input,
.need-help-form textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.form-row {
    display: flex;
    gap: 12px;
}

.primary-btn {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
}