.home_top_banner-container {
    background: #F2F0F1 !important;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_top_banner-left-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}