.home_top_banner-container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.home_top_banner-container-parent {
    background: #F2F0F1 !important;
}

.home_top_banner-left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.home_top_banner-left-container h1 {
    font-family: 'Integral', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
}

.home_top_banner-left-container p {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 40px 0;
    opacity: .6;
}

.home_top_banner-right-container {
    display: flex;
    width: 50%;
    gap: 70px;
}

.home_top_banner-left-buttons-container {
    display: flex;
    gap: 20px;
}

.home_top_banner-left-buttons-container a:first-of-type {
    background: #000;
    color: #fff;
    font-family: 'Satoshi';
    border-radius: 100px;
    padding: 16px 70px;
    font-size: 1.1rem;
    font-weight: 400;
    transition: all .3s ease;
    border: solid 1px #000;
}

.home_top_banner-left-buttons-container a:first-of-type:hover {
    background: #fff;
    color: #000;
    transition: all .3s ease;
}

.home_top_banner-left-buttons-container a:last-of-type {
    background: #fff;
    color: #000;
    border: solid 1px #000;
    font-family: 'Satoshi';
    border-radius: 100px;
    padding: 16px 70px;
    font-size: 1.1rem;
    font-weight: 400;
    transition: all .3s ease;
}

.home_top_banner-left-buttons-container a:last-of-type:hover {
    background: #000;
    color: #fff;
    transition: all .3s ease;
}

.home_top_banner-right-column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.home_top_banner-right-column1-block {
    position: relative;
    width: 110px;
}

.home_top_banner-right-column1-block img {
    width: 100%;
    height: auto;
}

.home_top_banner-right-column1-block p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Integral', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin: 0;
}