.home_top_banner-container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_top_banner-container-parent {
    background: #F2F0F1 !important;
}

.home_top_banner-left-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.home_top_banner-left-container h1 {
    font-family: 'Integral';
    font-size: 4rem;
    font-weight: 500;
}

.home_top_banner-right-container {
    display: flex;
    width: 40%;
}