.home-testimonials-container {
    background-color: #F2F0F1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-testimonials-heading {
    font-family: 'Satoshi';
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.home-testimonials-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1%;
}

.testimonial-slide {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 24px 28px;
    min-width: calc(33% - 40px);
    scroll-snap-align: start;
    border: solid 1px #000;
}

.testimonial-slide:first-of-type {
    margin-left: 5px;
}

.testimonial-slide-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.testimonial-slide-header-left {
    display: flex;
    justify-content: start;
    align-items: center;
}

.testimonial-google-icon {
    width: 25px;
    margin-right: 5px;
}

.testimonial-stars-icon {
    width: 90px;
}

.testimonial-verified-icon {
    width: 18px;
    margin-left: 3px;
}

.testimonial-author {
    font-weight: 600;
    font-size: 1.1rem;
}

.testimonial-quote {
    font-size: .9rem;
    opacity: .6;
}