.home_top_banner-container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.home_top_banner-container-parent {
    background: #F2F0F1 !important;
}

.home_top_banner-left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.home_top_banner-left-container h1 {
    font-family: 'Integral', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
}

.home_top_banner-left-container p {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 40px 0;
    opacity: .6;
}

.home_top_banner-right-container {
    display: flex;
    width: 50%;
}

.home_top_banner-left-buttons-container {
    display: flex;
    gap: 20px;
}

.home_top_banner-left-buttons-container a:first-of-type {
    background: #000;
    color: #fff;
    font-family: 'Satoshi';
    border-radius: 100px;
    padding: 16px 70px;
    font-size: 1.1rem;
    font-weight: 400;
}