.home-testimonials-container {
    background-color: #F2F0F1;
}

.home-testimonials-heading {
    font-family: 'Satoshi';
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}