.home_top_banner-container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.home_top_banner-container-parent {
    background: #F2F0F1 !important;
}

.home_top_banner-left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.home_top_banner-left-container h1 {
    font-family: 'Integral', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
}

.home_top_banner-left-container p {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    opacity: .6;
}

.home_top_banner-right-container {
    display: flex;
    width: 50%;
}