.home_top_banner-container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_top_banner-container-parent {
    background: #F2F0F1 !important;
}

.home_top_banner-left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.home_top_banner-left-container h1 {
    font-family: 'Integral', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
}

.home_top_banner-left-container p {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 40px 0;
    opacity: .6;
}

.home_top_banner-right-container {
    display: flex;
    width: 50%;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.home_top_banner-left-buttons-container {
    display: flex;
    gap: 20px;
}

.home_top_banner-left-buttons-container a:first-of-type {
    background: #000;
    color: #fff;
    font-family: 'Satoshi';
    border-radius: 100px;
    padding: 16px 70px;
    font-size: 1.1rem;
    font-weight: 400;
    transition: all .3s ease;
    text-align: center;
    border: solid 1px #000;
}

.home_top_banner-left-buttons-container a:first-of-type:hover {
    background: #fff;
    color: #000;
    transition: all .3s ease;
}

.home_top_banner-left-buttons-container a:last-of-type {
    background: #fff;
    color: #000;
    border: solid 1px #000;
    font-family: 'Satoshi';
    text-align: center;
    border-radius: 100px;
    padding: 16px 70px;
    font-size: 1.1rem;
    font-weight: 400;
    transition: all .3s ease;
}

.home_top_banner-left-buttons-container a:last-of-type:hover {
    background: #000;
    color: #fff;
    transition: all .3s ease;
}

.home_top_banner-right-column1 {
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 40px;
    width: 100%;
    height: 200px;
    margin-top: 40px;
}

.home_top_banner-right-column1-block {
    position: relative;
    height: 100%;
    transition: all .3s ease;
}

.home_top_banner-right-column1-block:hover {
    transform: translateY(-10px);
}

.home_top_banner-right-column1-block:hover img {
    box-shadow: 0 20px 28px -22px rgba(0, 0, 0, 0.25);
}

.home_top_banner-right-column1-block img {
    height: 100%;
    width: auto;
    border-radius: 0 0 16px 16px;
}

.home_top_banner-right-column1-block p {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: #000;
    font-family: 'Satoshi';
    font-weight: 600;
    opacity: 1;
    width: 100%;
    font-size: .85rem;
    text-align: center;
}

.home_top_banner-right-column2 {
    width: 54%;
    height: auto;
    perspective: 1000px;
}

.home_top_banner-right-column2 img {
    width: 100%;
    height: auto;
    transform-style: preserve-3d;
}

.home_top_banner-right-column2:hover img {
    animation: floatLoop 3.5s ease-in-out infinite;
}

@keyframes floatLoop {
    0% {
        transform: translateY(0px) rotateX(0deg);
    }

    25% {
        transform: translateY(-4px) rotateX(2deg);
    }

    50% {
        transform: translateY(0px) rotateX(0deg);
    }

    75% {
        transform: translateY(-4px) rotateX(2deg);
    }

    100% {
        transform: translateY(0px) rotateX(0deg);
    }
}