.product-usps-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.product-usp {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    font-family: 'Satoshi';
    font-size: .7rem;
    font-weight: 500;
    line-height: 1.2;
}

.product-usps-container .shopify-block {
    width: fit-content;
    display: flex;
    width: 20%;
}

.product-usp__icon {
    width: 70%;
}