.product-usps-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border: solid 1px #00000040;
    border-radius: 12px;
    padding: 15px;
}

.product-usp {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    font-family: 'Satoshi';
    font-size: .7rem;
    font-weight: 500;
    line-height: 1.2;
}

.product-usps-container .shopify-block {
    display: flex;
    width: 22%;
}

.product-usp__icon {
    width: 50%;
    cursor: pointer;
    margin-bottom: 10px;
}

.product-usp__icon:hover {
    animation: float 1.4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }
}